# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log

# gatsby files
.cache/
public
build

# Mac files
.DS_Store

# Optional npm cache directory
.npm

# Dependency directories
node_modules/

# Build Path of Test Fixtures
test/**/public
e2e-tests/gatsby-pnp/
__diff_output__/
*.tgz
.gatsby-context.js

# lock files
yarn.lock
package-lock.json
# ignore any lock file other than main lock file
!/yarn.lock
