@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import './font.css';

@layer base {
  html,
  body {
    @apply bg-skin-base text-skin-fg;
  }

  :root {
    --color-primary: #2dd4bf;
    --color-primary-tint: #99f6e4;
    --color-primary-shade: #14b8a6;
    --color-primary-contrast: var(--color-primary-shade);
    --color-background: #f5f6fa;
    --color-background-muted: #e7e5fd;
    --color-background-flash: #ffffff;
    --color-header-background: 255, 255, 255;
    --color-text: #101010;
    --color-text-muted: #545B6F;
    --color-focus: #ffdd00;
    --color-text-focus: #000000;
  }

  .dark {
    --color-primary-contrast: var(--color-primary);
    --color-background: #0c171a;
    --color-background-muted: #333e48;
    --color-background-flash: #000;
    --color-header-background: 0, 0, 0;
    --color-text: #fff;
    --color-text-muted: #b8bec6;
  }
}

@layer utilities {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none !important;
  }
  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    background: transparent !important;
  }
}


a, .prose a {
  @apply text-skin-primary-text;
  @apply border-b border-transparent;
  @apply transition-all no-underline;
  @apply hover:text-current hover:cursor-pointer;
}

p {
  @apply mt-4;
}

h1, .h1 {
  @apply font-display;
  @apply font-semibold;
  @apply tracking-tight;
  @apply mt-8 mb-6;
}

h2, .h2 {
  @apply font-display;
  @apply font-bold;
  @apply tracking-tight;
}

.prose,
.prose [class~="lead"] {
  @apply text-current;
}
