@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import './reset.css';
@import './font.css';

@layer base {
  html,
  body {
    @apply bg-skin-base text-skin-fg;
    /* background-image:
    radial-gradient(at 92% 8%, hsla(215,15%,47%,.2) 0, transparent 60%),
    radial-gradient(at 93% 100%, hsla(217,100%,70%,.4) 0, transparent 60%),
    radial-gradient(at 0% 0%, hsla(173,100%,78%,.6) 0, transparent 60%); */
  }

  :root {
    --color-primary: #2dd4bf;
    --color-primary-tint: #99f6e4;
    --color-primary-shade: #14b8a6;
    --color-primary-contrast: var(--color-primary-shade);
    --color-background: #f5f5f5;
    --color-background-muted: #e2e2e2;
    --color-background-flash: #ffffff;
    --color-header-background: 255, 255, 255;
    --color-text: #101010;
    --color-text-muted: #545B6F;
    --color-focus: #ffdd00;
    --color-text-focus: #000000;
  }

  .dark {
    --color-primary-contrast: var(--color-primary);
    --color-background: #09131d;
    --color-background-muted: #112132;
    --color-background-flash: #112132;
    --color-header-background: 0, 0, 0;
    --color-text: #fff;
    --color-text-muted: #b8bec6;
  }
}

@layer utilities {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none !important;
  }
  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    background: transparent !important;
  }
}

a, .prose a {
  @apply text-skin-primary-text;
  @apply border-b border-transparent;
  @apply transition-all no-underline;
  @apply hover:cursor-pointer;
  @apply hover:border-current;
  @apply break-words;
}

p {
  @apply mt-4;
}

h1, .h1 {
  @apply font-display;
  @apply font-semibold;
  @apply tracking-tight;
  @apply mt-8 mb-6;
}

h2, .h2 {
  @apply font-display;
  @apply font-bold;
  @apply tracking-tight;
}

.prose,
.prose [class~="lead"] {
  @apply text-current;
}

.prose h1 {
  @apply text-current;
}

/* rectangles */
.rect {
  @apply relative;
  @apply inline-flex;
  @apply mx-auto;
  @apply p-2;
}

.rect:before,
.rect:after,
.rect > :last-child:before,
.rect > :last-child:after {
  @apply absolute;
  @apply w-4 h-4;
  @apply border-2 border-skin-fg;
  content: '';
}

.rect:before {
  @apply top-0 left-0;
  @apply border-t-2 border-r-0 border-b-0 border-l-2;
}

.rect:after {
  @apply top-0 right-0;
  @apply border-t-2 border-r-2 border-b-0 border-l-0;
}

.rect > :last-child:before {
  @apply bottom-0 right-0;
  @apply border-t-0 border-r-2 border-b-2 border-l-0;
}

.rect > :last-child:after {
  @apply bottom-0 left-0;
  @apply border-t-0 border-r-0 border-b-2 border-l-2;
}

/* Hubspot cookie banner overwrite */
div#hs-eu-cookie-confirmation.hs-cookie-notification-position-bottom {
  box-shadow: none !important;
}

div#hs-eu-cookie-confirmation {
  background: transparent !important;
  border-top: 0 !important;
  box-shadow: none !important;
  font-family: inherit !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner {
  background: var(--color-background) !important;
  border-top: 1px solid var(--color-background-muted) !important;
  color: var(--color-text) !important;
  max-width: 1280px !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p {
  color: inherit !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-confirmation-button {
  border: 0 !important;
  color: white !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-decline-button {
  border: 0 !important;
  color: inherit !important;
}

.intercom-app iframe:not(:only-child):last-of-type {
  position: absolute !important;
}
