.formContainer {
  @apply flex flex-col;
  @apply p-8 my-8 mx-auto;
  @apply w-full;
  @apply transition-all;
  @apply hover:shadow-light;
}

.formContainer > div {
  @apply mx-auto;
  @apply w-full;
  @apply pb-4;
  @apply max-w-screen-md;
}

.formContainer > .formTitle {
  @apply py-4 mx-auto;
  @apply text-center font-bold;
  @apply w-full;
  @apply text-4xl;
  @apply max-w-screen-md;
}

.legal-consent-container {
  @apply text-xs font-normal;
}

.input {
  @apply text-lg;
}

.hs_submit {
  @apply mt-4;
}

.hs-button {
  @apply appearance-none;
  @apply bg-skin-primary;
  @apply text-skin-fg-focus font-semibold;
  @apply border-skin-primary;
  @apply rounded-md;
  @apply py-4 px-8;
  @apply text-xl lg:text-2xl;
  @apply hover:text-skin-fg-focus hover:shadow-xl hover:cursor-pointer;
  @apply focus:outline-none focus:ring-2 focus:ring-skin-focus focus:bg-skin-focus focus:text-skin-fg-focus;
}

.hs-input {
  @apply mt-0 mb-1;
  @apply block;
  @apply w-full;
  @apply px-0 py-2;
  @apply border-0 border-b-2 border-skin-base-muted;
  @apply rounded-none;
  @apply bg-transparent;
  @apply focus:ring-0 focus:outline-none focus:border-skin-fg;
}

.hs-input input {
  @apply appearance-none;
  @apply rounded-none;
}

.hs-form-field > label {
  @apply block;
  @apply mt-4;
}

.hs-error-msg {
  @apply block mb-4 text-sm;
}

.hs-error-msgs > *,
.hs-error-msgs .legal-consent-container .hs-error-msgs label {
  color: #f2545b;
}

.hs_error_rollup {
  @apply mt-4;
  @apply text-lg;
}

.submitted-message {
  @apply text-center;
  @apply text-2xl;
  @apply font-semibold;
}

.inputs-list {
  @apply list-none;
}

.hs-form-booleancheckbox-display {
  @apply flex;
  @apply py-4 mt-2;
}

[type='checkbox'], [type='radio'] {
  @apply w-6 h-6;
  @apply min-w-[1.5rem];
  @apply appearance-none;
  @apply inline-flex;
  @apply p-0;
  @apply m-0;
  @apply border-2;
  @apply text-skin-primary;
}

[type='checkbox']:checked, [type='radio']:checked {
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

[type='checkbox']:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}
